.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #017b93;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #017b93;
}

h1{
    font-size: xxx-large !important;
}

.form{
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.conteneur{
    width: 30em;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10em auto;
}


.conteneur-table{
    width: 30em;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10em auto;
}

